@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .w-fit {
        width: fit-content;
    }
}

html,
body {
    @apply m-0 p-0 w-full;
    overscroll-behavior-y: contain;
}
.container {
    @apply w-full m-auto;
}
.body-home {
    background-color: #191818;
}
.body-card {
    background-color: #eeeeee;
}
.body-tic-tac-toe {
    background-color: #f6f2e7;
}
.body-2048 {
    background-color: #f6f2e7;
}
.body-youtube {
    @apply bg-youtube;
}